In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Reading data from the text file "Ecommerce Purchases.txt" into a pandas DataFrame
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Ecommerce Purchases.txt")

# Saving the DataFrame to a new CSV file named "New_file.csv" without including the index
df.to_csv("New_file.csv", index=False)

1.Check the head of dataframe

In [4]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

2. How many columns and rows are there?

In [5]:
# Getting the number of rows and columns in the DataFrame
nrow = df.shape[0]  # Number of rows
ncol = df.shape[1]  # Number of columns

# Printing the number of rows and columns
print(f"Number of rows: {nrow}")
print(f"Number of columns: {ncol}")

Number of rows: 10000
Number of columns: 14

what is Average Purchase Price?

In [6]:
# Calculating the average purchase price from the 'Purchase Price' column
average_purchase_price = df['Purchase Price'].mean()

# Printing the average purchase price
print(f"Average Purchasing price: {average_purchase_price}")

Average Purchasing price: 50.347302

3. What were the highest and lowest purchase prices?

In [7]:
# Finding the minimum and maximum purchase prices from the 'Purchase Price' column
min_purchase_price = df['Purchase Price'].min()  # Minimum purchase price
max_purchase_price = df['Purchase Price'].max()  # Maximum purchase price

# Printing the minimum and maximum purchase prices
print(f"Minimum Purchasing Price: {min_purchase_price}")
print(f"Maximum Purchasing Price: {max_purchase_price}")

Minimum Purchasing Price: 0.0
Maximum Purchasing Price: 99.99

4. How many people have English 'en' as their Language of choice on the website?

In [9]:
# Filtering the DataFrame to include only rows where the language is 'en' (English)
English_lang = df[df['Language'] == 'en']

# Getting the number of rows in the filtered DataFrame
N = len(English_lang)

# Printing the number of people who chose English as their language
print(f"Number of English (en) language choosing people: {N}")

Number of English (en) language choosing people: 1098

5.How many people have the job title of "Lawyer" ?

In [10]:
# Filtering the DataFrame to include only rows where the job is 'Lawyer'
Law = df[df['Job'] == 'Lawyer']

# Getting the number of rows in the filtered DataFrame
N_law = len(Law)

# Printing the number of lawyers purchasing goods
print(f"Number of lawyers purchasing goods: {N_law}")

Number of lawyers purchasing goods: 30

6. How many people made the purchase during the AM and how many people made the purchase during PM ?

In [11]:
# Filtering the DataFrame to include only rows where the time period is 'AM' (early morning)
M_T = df[df['AM or PM'] == 'AM']

# Filtering the DataFrame to include only rows where the time period is 'PM' (afternoon or evening)
E_T = df[df['AM or PM'] == 'PM']

# Getting the number of rows in the filtered DataFrames
n1 = len(M_T)  # Number of people making purchases during early morning (AM)
n2 = len(E_T)  # Number of people making purchases during the remaining time (PM)

# Printing the number of people making purchases during early morning (AM) period and during the remaining time (PM)
print(f"People making purchases during early morning (AM) period and during the remaining time (PM) respectively: {n1}, {n2}")

People making purchases during early morning (AM) period and during the remaining time (PM) respectively: 4932, 5068

7.What are the 5 most common Job Titles?

In [12]:
# Finding the 5 most common jobs by counting occurrences of each job and selecting the top 5
most_common_jobs_5 = df['Job'].value_counts().nlargest(5)

# Printing the 5 most common jobs
print(most_common_jobs_5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

8. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [13]:
# Finding the index of the first occurrence of the specified lot
lot_purchase_index = df.loc[df['Lot'] == '90 WT'].index[0]

# Finding the purchase price for the specified lot using its index
purchase_price_for_lot = df.loc[lot_purchase_index, 'Purchase Price']

# Printing the purchase price for Lot '90 WT'
print(f"Purchase Price for Lot '90 WT': {purchase_price_for_lot}")

Purchase Price for Lot '90 WT': 75.1

9. What is the email of the person with the following Credit Card Number: 4926535242672853

In [14]:
# Finding rows where the credit card number matches the specified value
cred_user = df.loc[df['Credit Card'] == 4926535242672853]

# Extracting the email of the user(s) with the specified credit card number
user_mail = cred_user['Email']

# Checking if any user(s) are found with the given credit card number
if cred_user.shape[0] > 0:
    # If user(s) are found, extracting the email of the first user and printing it
    user_mail = cred_user['Email'].values[0]
    print(f"The email of the particular person: {user_mail}")
else:
    # If no user is found with the given credit card number, printing a message
    print("No user found with the given credit card number.")

The email of the particular person: bondellen@williams-garza.com

10. How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [15]:
# Filtering the DataFrame to include only rows where the credit card provider is 'American Express'
AExpress_provider = df[df['CC Provider'] == 'American Express']

# Counting the number of people with American Express as their CC Provider and making purchases above $95
purchase_above_95 = len(AExpress_provider[AExpress_provider['Purchase Price'] > 95])

# Printing the number of people having American Express as their CC Provider and making purchases above $95
print(f"Number of people having CC Provider American Express and making purchases above $95: {purchase_above_95}")

Number of people having CC Provider American Express and making purchases above $95: 39

11. How many people have a credit card that expires in 2025?

In [16]:
import re

# Define the pattern for matching credit card expiration dates ending with '25'
pattern = r'\d{2}/25'

# Filtering the DataFrame to include only rows where the credit card expiration date matches the pattern
Expire25 = df[df['CC Exp Date'].str.contains(pattern)]

# Counting the number of people with credit cards expiring in the year 2025
N_people = len(Expire25)

# Printing the number of people having credit cards expired in the year 2025
print(f"The number of people having credit card expired in year 2025: {N_people}")

The number of people having credit card expired in year 2025: 1033

12.. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [17]:
# Extracting email domains from the 'Email' column
emails = df["Email"].tolist()
providers = [email.split("@")[1] for email in emails]

# Counting occurrences of each email domain
provider_counts = {}
for provider in providers:
    if provider not in provider_counts:
        provider_counts[provider] = 0
    provider_counts[provider] += 1

# Sorting the email domains based on their occurrence count
sorted_providers = sorted(provider_counts.items(), key=lambda item: item[1], reverse=True)

# Printing the top 5 email providers/hosts
print("Top 5 email providers/hosts:")
for i in range(5):
    print(f"{i+1}. {sorted_providers[i][0]} ({sorted_providers[i][1]})")

Top 5 email providers/hosts:
1. hotmail.com (1638)
2. yahoo.com (1616)
3. gmail.com (1605)
4. smith.com (42)
5. williams.com (37)