In [1]:
from google.colab import drive
drive.mount('content')

Mounted at content

In [3]:
import numpy as np
import pandas as pd

In [6]:
import os
os.listdir("content/MyDrive/Colab Notebooks")

['scores.csv',
 'stocks.csv',
 'poem.txt',
 'mbox-short.txt',
 'obama_speech.txt',
 'donald_speech.txt',
 'michelle_obama_speech.txt',
 '0502_02.ipynb',
 '06feb_02.ipynb',
 '07feb.ipynb',
 'Untitled0.ipynb',
 '08feb.ipynb',
 'Untitled1.ipynb',
 'WeeklyAssign2.ipynb',
 'gas_prices.csv',
 '12_feb.ipynb',
 'company_sales_data.csv',
 'Untitled2.ipynb',
 '13_feb.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 '15-feb-2K24.txt',
 'la_jobs.csv',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'weekly3.ipynb',
 'Day8ExerDict.ipynb',
 'Day7set.ipynb',
 'Day8Dict.ipynb',
 'Day9 (1).ipynb',
 'Day9.ipynb',
 'Untitled9.ipynb',
 '19_feb.ipynb',
 'Day10.ipynb',
 'ipynb',
 '20feb (1).ipynb',
 'Salaries.csv',
 'HomeAssignment.ipynb',
 '12mar_24.ipynb',
 'Day11.ipynb',
 'Untitled12.ipynb',
 'Day12Exer.ipynb',
 'Untitled8.ipynb',
 '16feb.ipynb',
 '06March.ipynb',
 '06march.ipynb',
 'walmart_stock.csv',
 'Untitled10.ipynb',
 'Ecommerce Purchases.txt',
 '11mar_24.ipynb',
 'Untitled11.ipynb']

Read Salaries.csv as a dataframe called sal

In [8]:
sal = pd.read_csv("content/MyDrive/Colab Notebooks/Salaries.csv", na_values='Not Provided')

Check the head of the DataFrame.

In [9]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Use the .info() method to find out how many entries there are.

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148652 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

What is the average BasePay ?

In [11]:
sal['BasePay'].mean()

66325.4488404877

What is the highest amount of OvertimePay in the dataset ?

In [12]:
sal['OvertimePay'].max()

245131.88

What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [13]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)?

In [14]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of highest paid person (including benefits)?

In [15]:
ind = sal['TotalPayBenefits'].idxmax()
sal.loc[ind]['EmployeeName']

'NATHANIEL FORD'

What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [16]:
ind = sal['TotalPayBenefits'].idxmin()
sal.iloc[ind]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [17]:
sal.groupby('Year').mean()['BasePay']

<ipython-input-17-a42aa5aba483>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique job titles are there?

In [18]:
sal['JobTitle'].nunique()

2159

What are the top 5 most common jobs?

In [19]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [20]:
(sal[sal['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

How many people have the word Chief in their job title? (This is pretty tricky)

In [ ]:
sal['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()