In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Data Analisys with Pandas

SF Salaries Welcome to a quick exercise for you to practice your pandas skills! We will be using the SF Salaries Dataset Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Q1:What is the average BasePay ? A: 66325.44884050643

Q2: What is the highest amount of OvertimePay in the dataset ? A:245131.88

Q3:What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). A: 24 CAPTAIN, FIRE SUPPRESSION

Q4: How much does JOSEPH DRISCOLL make (including benefits)? A: 24 270324.91

Q5: What is the name of highest paid person (including benefits)? A:

Q6: What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid? Note: with full details A: 148653

Q7:What was the average (mean) BasePay of all employees per year? (2011-2014) ? A: Year 2011 63595.956517 2012 65436.406857 2013 69630.030216 2014 66564.421924 Name: BasePay, dtype: float64

Q8: How many unique job titles are there? A:2159

Q9:What are the top 5 most common jobs? A: Transit Operator 7036 Special Nurse 4389 Registered Nurse 3736 Public Svc Aide-Public Works 2518 Police Officer 3 2421

Q10:How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) A: 202

Q11:How many people have the word Chief in their job title? (This is pretty tricky) A:627

Q12: Bonus: Is there a correlation between length of the Job Title string and Salary? A: TotalPayBenefits title_len TotalPayBenefits 1.000000 -0.036878 title_len -0.036878 1.000000

In [3]:
import pandas as pd
dff=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Salaries.csv")

print(dff)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

Q1:What is the average BasePay ? A: 66325.44884050643

In [4]:
dff['BasePay'].mean()

66325.4488404877

Q2: What is the highest amount of OvertimePay in the dataset ? A:245131.88

In [5]:
dff["OvertimePay"].max()

245131.88

Q3:What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). A: 24 CAPTAIN, FIRE SUPPRESSION

In [6]:
dff[dff['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

 How much does JOSEPH DRISCOLL make (including benefits)? A: 24 270324.91

In [7]:
dff.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
dff[dff['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

Q5: What is the name of highest paid person (including benefits)? A:

In [9]:
dff[dff['TotalPayBenefits']==dff['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

 What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid? Note: with full details A: 148653

In [10]:
dff[dff['TotalPayBenefits']==dff['TotalPayBenefits'].min()]
#yes some of  the column contain null or negative values its strange

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Q7:What was the average (mean) BasePay of all employees per year? (2011-2014) ? A: Year 2011 63595.956517 2012 65436.406857 2013 69630.030216 2014 66564.421924 Name: BasePay, dtype: float64

In [11]:
x=dff.groupby('Year')
print(type(dff.Year))
x['BasePay'].mean()

<class 'pandas.core.series.Series'>

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

: How many unique job titles are there? A:2159

In [12]:
dff['JobTitle'].nunique()

2159

9:What are the top 5 most common jobs? A: Transit Operator 7036 Special Nurse 4389 Registered Nurse 3736 Public Svc Aide-Public Works 2518 Police Officer 3 2421

In [13]:
dff.JobTitle.value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Q10:How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) A: 202

In [14]:
sum(dff[dff['Year']==2013]['JobTitle'].value_counts()==1)

202


Q11:How many people have the word Chief in their job title? (This is pretty tricky) A:627

In [15]:
def chief(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
sum(dff['JobTitle'].apply(chief))

627

12: Bonus: Is there a correlation between length of the Job Title string and Salary? A: TotalPayBenefits title_len TotalPayBenefits 1.000000 -0.036878 title_len -0.036878 1.000000

In [16]:
dff['titlelen']=dff['JobTitle'].apply(len)
dff[['titlelen','TotalPayBenefits']].corr()

                  titlelen  TotalPayBenefits
titlelen          1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000